<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.dictionary_app">
        <activity
            android:name=".User.SearchTerm"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminEditterm"
            android:exported="false" />
        <activity
            android:name=".Admin.AddCategory"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminCategory"
            android:exported="false" />
        <activity
            android:name=".Admin.AddTerm"
            android:exported="false" />
        <activity
            android:name=".User.Translate"
            android:exported="false" />
        <activity
            android:name=".User.TermsList"
            android:exported="false" />
        <activity
            android:name=".User.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminTerm"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- android:theme="@style/Theme.AppCompat.NoActionBar" -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>